/**
 * SPDX-FileCopyrightText: (c) 2019 Carson Black <uhhadd@gmail.com>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

$ButtonBackgroundAlternate: rgb(189, 195, 199);
$ButtonBackgroundNormal: rgb(239, 240, 241);
$ButtonDecorationFocus: rgb(61, 174, 233);
$ButtonDecorationHover: rgb(147, 206, 233);
$ButtonForegroundActive: rgb(61, 174, 233);
$ButtonForegroundInactive: rgb(127, 140, 141);
$ButtonForegroundLink: rgb(41, 128, 185);
$ButtonForegroundNegative: rgb(218, 68, 83);
$ButtonForegroundNeutral: rgb(246, 116, 0);
$ButtonForegroundNormal: rgb(35, 38, 39);
$ButtonForegroundPositive: rgb(39, 174, 96);
$ButtonForegroundVisited: rgb(127, 140, 141);
$DisabledColor: rgb(56, 56, 56);
$DisabledColorAmount: 0;
$DisabledColorEffect: 0;
$DisabledContrastAmount: 0.65;
$DisabledContrastEffect: 1;
$DisabledIntensityAmount: 0.1;
$DisabledIntensityEffect: 2;
$InactiveChangeSelectionColor: true;
$InactiveColor: rgb(112, 111, 110);
$InactiveColorAmount: 0.025;
$InactiveColorEffect: 2;
$InactiveContrastAmount: 0.1;
$InactiveContrastEffect: 2;
$InactiveEnable: false;
$InactiveIntensityAmount: 0;
$InactiveIntensityEffect: 0;
$SelectionBackgroundAlternate: rgb(29, 153, 243);
$SelectionBackgroundNormal: rgb(61, 174, 233);
$SelectionDecorationFocus: rgb(61, 174, 233);
$SelectionDecorationHover: rgb(147, 206, 233);
$SelectionForegroundActive: rgb(252, 252, 252);
$SelectionForegroundInactive: rgb(239, 240, 241);
$SelectionForegroundLink: rgb(253, 188, 75);
$SelectionForegroundNegative: rgb(218, 68, 83);
$SelectionForegroundNeutral: rgb(246, 116, 0);
$SelectionForegroundNormal: rgb(252, 252, 252);
$SelectionForegroundPositive: rgb(39, 174, 96);
$SelectionForegroundVisited: rgb(189, 195, 199);
$TooltipBackgroundAlternate: rgb(77, 77, 77);
$TooltipBackgroundNormal: rgb(35, 38, 39);
$TooltipDecorationFocus: rgb(61, 174, 233);
$TooltipDecorationHover: rgb(147, 206, 233);
$TooltipForegroundActive: rgb(61, 174, 233);
$TooltipForegroundInactive: rgb(189, 195, 199);
$TooltipForegroundLink: rgb(41, 128, 185);
$TooltipForegroundNegative: rgb(218, 68, 83);
$TooltipForegroundNeutral: rgb(246, 116, 0);
$TooltipForegroundNormal: rgb(252, 252, 252);
$TooltipForegroundPositive: rgb(39, 174, 96);
$TooltipForegroundVisited: rgb(127, 140, 141);
$ViewBackgroundAlternate: rgb(239, 240, 241);
$ViewBackgroundNormal: rgb(252, 252, 252);
$ViewDecorationFocus: rgb(61, 174, 233);
$ViewDecorationHover: rgb(147, 206, 233);
$ViewForegroundActive: rgb(61, 174, 233);
$ViewForegroundInactive: rgb(127, 140, 141);
$ViewForegroundLink: rgb(41, 128, 185);
$ViewForegroundNegative: rgb(218, 68, 83);
$ViewForegroundNeutral: rgb(246, 116, 0);
$ViewForegroundNormal: rgb(35, 38, 39);
$ViewForegroundPositive: rgb(39, 174, 96);
$ViewForegroundVisited: rgb(127, 140, 141);
$WMactiveBackground: rgb(71, 80, 87);
$WMactiveBlend: rgb(252, 252, 252);
$WMactiveForeground: rgb(252, 252, 252);
$WMinactiveBackground: rgb(239, 240, 241);
$WMinactiveBlend: rgb(75, 71, 67);
$WMinactiveForeground: rgb(189, 195, 199);
$WindowBackgroundAlternate: rgb(189, 195, 199);
$WindowBackgroundNormal: rgb(239, 240, 241);
$WindowDecorationFocus: rgb(61, 174, 233);
$WindowDecorationHover: rgb(147, 206, 233);
$WindowForegroundActive: rgb(61, 174, 233);
$WindowForegroundInactive: rgb(127, 140, 141);
$WindowForegroundLink: rgb(41, 128, 185);
$WindowForegroundNegative: rgb(218, 68, 83);
$WindowForegroundNeutral: rgb(246, 116, 0);
$WindowForegroundNormal: rgb(35, 38, 39);
$WindowForegroundPositive: rgb(39, 174, 96);
$WindowForegroundVisited: rgb(127, 140, 141);
$border_color: mix($WindowBackgroundNormal, $WindowForegroundNormal, 75%);
